.board_container {
    /* height 100vh because of scrollbar */
    height: 100vh;
    width: 100%;
    /* min-width: 300px; */
    overflow-x: hidden; 
    overflow-y: scroll;

    background: linear-gradient(to right bottom, #e0dae0, #99a6a8);
    user-select: none;
}