.lazy-load-image-background.blur {
  filter: blur(15px);
  /* clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%); */
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  transition: filter 1.5s ease
}

/* no need these because it will conflicts with mansory.css */
/* .lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity .3s;
} */
