.cornerBtn_container {
    position: fixed;
    background-color: var(--sideBar-bg);
    z-index: 3;
    transition: all 0.5s ease;
}

.cornerBtn_container:hover {
    background-color: hsla(234, 25%, 33%, .95);
    transition: all 0.5s ease;
}

.top_left {
    top: 0;
    left: 0;

    padding: 1rem;
    padding-bottom: 2rem;
    padding-right: 2rem;

    border-bottom-right-radius: 100rem;
    border-top-right-radius: 0rem;
}

.middle_left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 2rem;
    padding-left: 1rem;
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
}

.bottom_left {
    bottom: 0;
    left: 0;

    padding: 1rem;
    padding-top: 2rem;
    padding-right: 2rem;
    /* padding-bottom */
    padding-bottom: .5rem;
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 0rem;
}

.top_right {
    top: 0;
    right: 0;

    padding: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;

    border-bottom-left-radius: 100rem;
    border-top-left-radius: 0rem;
}

.middle_right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 2rem;
    padding-right: 1rem;
    border-top-left-radius: 100rem;
    border-bottom-left-radius: 100rem;
}

.bottom_right {
    bottom: 0;
    right: 0;

    padding: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    /* padding-bottom */
    padding-bottom: .5rem;
    border-top-left-radius: 100rem;
    border-bottom-left-radius: 0rem;
}

.top_middle {
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 1.5rem;
    border-bottom-left-radius: 100rem;
    border-bottom-right-radius: 100rem;
}

.top_bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 1.5rem;
    border-top-left-radius: 100rem;
    border-top-right-radius: 100rem;
}